<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户信息修改</title>
</head>
<body>

<form th:action="@{/User/editUser}" method="post">
    ID:<input type="hidden" name="id" th:field="${user.id}"><input disabled th:field="${user.id}"><br/>
    姓名：<input type="text"  name="name" th:field="${user.name}"><font color="red" th:errors="${user.name}"></font><br/>
    密码：<input type="text"  name="password" th:field="${user.password}"><font color="red" th:errors="${user.password}"></font><br/>
    年龄：<input type="text"  name="age" th:field="${user.age}"><br/>
    <input type="submit"  value="确认">
</form>
</body>
</html>