<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>博客管理</title>
    <script  src="/js/jquery.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/md5.js"></script>
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link href="/css/asidenav.css" rel="stylesheet" type="text/css"><!悬浮帮助栏>
    <script type="text/javascript" src="/js/asidenav.js"></script><!悬浮帮助栏>
    <link href="/css/login2.css" rel="stylesheet" />
    <audio autoplay="" loop=""><source src="/images/qs.flac"></audio>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

</head>

<body>
<div class="aside-nav bounceInUp animated" id="aside-nav">
    <label  class="aside-menu" title="按住拖动">帮助</label>
    <a href="http://localhost:8080/findex.html" title="返回首页" class="menu-item menu-first">首页</a>
    <a style="color: #64448f" title="用户登录" class="menu-item menu-second">登录</a>
    <a href="dynamic.html" title="最近动态" class="menu-item menu-third">动态</a>
    <a href="http://localhost:8080/index.html" title="跳转后台" class="menu-item menu-line menu-fourth">后台</a>
</div>
<h1>博客管理<sup></sup></h1>
<div id="rrapp">
    <div class="login" style="margin-top:50px;">

        <div class="header">
            <div class="switch" id="switch"><a class="switch_btn_focus" id="switch_qlogin" href="javascript:void(0);"
                                               tabindex="7">用户登录</a>
                <a class="switch_btn" id="switch_login" href="javascript:void(0);" tabindex="8">用户注册</a>
                <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
            </div>
        </div>

        <div class="web_qr_login" id="web_qr_login" style="display: block; height: 360px;">
            <div v-if="error" class="alert alert-danger alert-dismissible">
                <h2  style="margin-bottom: 0px; padding: 20px"><i class="fa fa-exclamation-triangle"></i > {{errorMsg}}</h2>
            </div>
            <!--登录-->
            <div class="web_login web_login2" id="web_login">


                <div class="login-box">


                    <div class="login_form">
                        <form action="#" name="loginform" accept-charset="utf-8" id="login_form"
                              class="loginForm" method="post"><input type="hidden" name="did" value="0"/>
                            <input type="hidden" name="to" value="log"/>
                            <div class="uinArea" id="uinArea">
                                <label class="input-tips" for="loginUserName">帐号：</label>
                                <div class="inputOuter" id="uArea">

                                    <input type="text" id="loginUserName" name="userid" class="inputstyle"
                                           v-model="user.username"
                                           placeholder="用户名"/>
                                </div>
                            </div>
                            <div class="pwdArea" id="pwdArea">
                                <label class="input-tips" for="loginPwd">密码：</label>
                                <div class="inputOuter" id="pArea">

                                    <input type="password" id="loginPwd" name="password" class="inputstyle"
                                           v-model="user.password"
                                           placeholder="密码"/>
                                </div>
                            </div>







                            <div style="padding-left:70px;margin-top:20px;"><input id="loginBtn" type="button"
                                                                                   value="登 录" @click="login"
                                                                                   style="width:150px;"
                                                                                   class="button_blue"/></div>

                        </form>
                    </div>

                </div>

            </div>
            <!--登录end-->
            <br>
            <a>亲！登录后方可解锁更多权限哦</a>
        </div>

        <!--注册-->
        <div class="qlogin" id="qlogin" style="display: none ;margin-top:10px; ">
            <div v-if="error2" class="alert alert-danger alert-dismissible">
                <h2  style="margin-bottom: 0px; padding: 20px"><i class="fa fa-exclamation-triangle"></i > {{errorMsg2}}</h2>
            </div>
            <div class="web_login">
                <form name="form2" id="regUser" accept-charset="utf-8" action="#" method="post">
                    <input type="hidden" name="to" value="reg"/>
                    <input type="hidden" name="did" value="0"/>
                    <ul class="reg_form" id="reg-ul">

                        <li>

                            <label for="user" class="input-tips2">用户名：</label>
                            <div class="inputOuter2">
                                <input type="text" id="user" name="userid" maxlength="16" class="inputstyle2"
                                       v-model="users.username"
                                       placeholder="用户名"/>
                            </div>
                        </li>


                        <li>
                            <label for="passwd" class="input-tips2">密码：</label>
                            <div class="inputOuter2">
                                <input type="password" id="passwd" name="password" maxlength="16" class="inputstyle2"
                                       v-model="users.password"
                                       placeholder="密码"/>
                            </div>

                        </li>

                        <li>
                            <label for="qq" class="input-tips2">姓名：</label>
                            <div class="inputOuter2">

                                <input type="text" id="qq" name="email" class="inputstyle2"
                                       v-model="users.name"
                                       placeholder="姓名"/>
                            </div>

                        </li>
                        <li>
                            <label for="age" class="input-tips2">年龄：</label>
                            <div class="inputOuter2">

                                <input type="text" id="age" name="email" class="inputstyle2"
                                       v-model="users.age"
                                       placeholder="姓名"/>
                            </div>

                        </li>

                        <li>
                            <div style="padding-left:100px;margin-top:20px;"><input id="registerbtn" type="button"
                                                                                   value="注 册" @click="register"
                                                                                   style="width:150px;"
                                                                                   class="button_blue"/></div>


                        </li>
                        <div class="cl"></div>
                    </ul>
                </form>


            </div>

        </div>
    </div>
    <!--注册end-->
</div>


</body>
<!--<script src="public/libs/jquery.min.js"></script>-->

<!--<script src="public/libs/bootstrap.min.js"></script>-->
<!--<script src="public/libs/jquery.slimscroll.min.js"></script>-->
<!--<script src="public/libs/fastclick.min.js"></script>-->
<!--<script src="public/libs/app.js"></script>-->
<script >
    var vm = new Vue({
        el: '#rrapp',
        data: {
            user: {},
            users: {},
            error: false,
            error2:false,
            errorMsg: '',
            errorMsg2: '',

        },
        beforeCreate: function () {
            if (self != top) {
                top.location.href = self.location.href;
            }
        },
        methods: {
            login: function (event) {
                $.ajax({
                    type: "POST",
                    url: "/User/login",
                    data: JSON.stringify(vm.user),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    success: function (result) {
                        if (result.code === 0) {//登录成功
                            var role=result.role;
                            if (role=="0") {
                                parent.location.href = 'index.html';
                            }else {
                                parent.location.href = 'findex.html';
                            }

                        } else {
                            vm.error = true;
                            vm.errorMsg = result.msg;

                        }
                    }
                });
            },
            register: function (event) {
                $.ajax({
                    type: "POST",
                    url: "/User/register",
                    data: JSON.stringify(vm.users),
                    dataType: "json",
                    contentType: "application/json",
                    cache: false,
                    success: function (result) {
                        if (result.code === 0) {//注册成功
                            alert("注册成功");
                            parent.location.href = 'login.html';
                        } else {
                            vm.error2 = true;
                            vm.errorMsg2 = result.msg;

                        }
                    }
                });
            }
        }
    });
</script>

</html>